h1 {
  color: hotpink;
}

body {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1920px;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside {
  min-width: 100%;
  max-width: 100%;
}

.outer {
  overflow: hidden;
  transition: height 300ms ease-in-out;
}

.toast {
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: pink;
  border-radius: 5px;
  padding: 10px;
}

.in-out-enter {
  opacity: 0;
  transform: translateX(50%);
}
.in-out-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.in-out-exit {
  opacity: 1;
  transform: translateX(0%);
}
.in-out-exit-active {
  opacity: 0;
  transform: translateX(50%);
}
.in-out-enter-active,
.in-out-exit-active {
  transition: opacity 300ms, transform 300ms;
}

/* Slider */
.horizontal-slider {
  width: 100%;
  height: 40px;
}

.thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid transparent;
  box-sizing: border-box;
}

.thumb.active {
  background-color: hotpink;
}

.track {
  position: relative;
  background: #ddd;
}

.track.track-1 {
  background: hotpink;
}

.track.track-2 {
  background: black;
}

.horizontal-slider .track {
  top: 18px;
  height: 6px;
}

.horizontal-slider .thumb {
  top: 1px;
  width: 40px;
  height: 38px;
  line-height: 28px;
  border-radius: 50%;
}

/* Filter toggle */


.filter-toggle {
  font-weight: 700;
  line-height: 20px;
  padding: 10px;
  text-transform: capitalize;
  text-align: left;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.filter-toggle::before {
  display: inline-block;
  transform-style: preserve-3d;
  transition: all 300ms ease-in;
  margin-right: 5px;
}

.filter-toggle--open::before {
  transform: rotate3d(2, 0, 0, 180deg);
}

/* Product board */
.product-board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product-board__item {
  width: 100%;
  max-width: calc(50% - 5px);
  flex: 1 0 auto;
}

@media all and (min-width: 40em) {
  .product-board {
    gap: 20px;
  }

  .product-board__item {
    max-width: calc(33.33% - 40px / 3);
  }
}

@media all and (min-width: 60em) {
  .layout {
    flex-direction: row;
  }

  .aside {
    position: sticky;
    top: 0;
    height: 1px;
    min-width: 16%;
    max-width: 16%;
  }

  .product-board__item {
    max-width: calc(25% - 15px);
  }
}

/* Product card */
.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-card__btn {
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card__btn::before {
  margin: 0;
}

.product-card__btn:hover,
.product-card__btn:active {
  color: hotpink;
}

.product-card__btn-container {
  position: absolute;
  right: 0;
  top: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 0;
}

.product-card__picture {
  padding-top: 107.142857%;
  margin-bottom: 30px;
  position: relative;
}

.product-card__picture img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0 0 30px;
}

.product-card__brand {
  font-weight: 700;
  margin-bottom: 4px;
}

.product-card__name {
  flex: 1 0 auto;
}

.product-card__name,
.product-card__color {
  color: #757575;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;

  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0 10px;
}

.product-card__amount {
  text-align: center;
}

.fade-enter {
  opacity: 0;
  transform: translateX(50%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(50%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms, transform 300ms;
}

@media all and (min-width: 40em) {
  .product-card__btn {
    font-size: 25px;
  }

  .btn-container {
    gap: 10px;
  }

  .product-card__btn-container {
    right: 10px;
    top: 10px;
  }

  .product-card__amount {
    width: 30px;
  }
}

select {
  padding: 0.5rem;
  background: #fff;
  color: #17181c;
  border-radius: 5px;
  border: 0;
  appearance: none;
}
